<h4><%= @user.name %></h4>
<%= @user.decorate.avatar %>
<%= form_with model: @user do |f| %> 
  <div class="field">
    <%= f.label :edit_avatar %>
    <%= f.file_field :avatar %>
  </div>
  <%= f.submit "Save" %>
<% end %>
<%= link_to "Edit Your Profile", edit_user_path(@user.id) %>
